*{
    margin: 0.5rem ;
}
body { background-color:rgba(228, 171, 193, 0.856) }
body h2 { color:rgb(255, 255, 255)}
body h4{color:rgb(0, 0, 0)}
body p{color:rgb(255, 255, 255); font-size:x-large}
img{border-radius: 60%;}